<app-navbar></app-navbar>
<div class="checkout">
    <form [formGroup]='checkoutForm' (ngSubmit)='onSubmit()'>
        <div class="form-group">
    
      <label for="name">Name</label>     
     <input class='form-control' type="text" placeholder="Name"  name='name' formControlName='name'><br>
     <label for="lastName">Last Name</label>  
     <input class='form-control' type="text" placeholder="Last Name"  name='lastName' formControlName='lastName'><br>
     <label for="email">Email</label>  
     <input class='form-control' type="email" placeholder="Email"  name='email' formControlName='email'><br>
     <label for="phone">Phone</label>  
     <input class='form-control' type="text" placeholder="Phone number"  name='phone' formControlName='phone'><br>
     <label for="adress">Adress</label>  
     <input class='form-control' type="text" placeholder="Adress"  name='adress' formControlName='adress'><br>
    <p class='lead'>Payment type:</p>
    <div class="radio" *ngFor='let payment of payments'>
        <label>
            <input type="radio" [value]='payment' formControlName='payment'> {{payment}}
        </label>

    </div>
      <textarea cols="30" rows="10" class='form-control' placeholder='How did you hear about us?'></textarea><br>
    <button class="btn btn-primary btn-lg btn-block mt-2">Confirm</button>
    <div class="alert alert-success mt-2" *ngIf='message'>
        <p>{{message}}</p>
    </div>
    
</div>
</form>   
</div>
