.checkout {
  width: 40%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  box-shadow: 5px 5px 5px;
  margin: auto;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
