<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3 class='display-4'>Shop/{{productItem.naziv}}</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger mt-3" routerLink='/shop'>Back to shop</button>
        </div>
    </div>

<hr>

<div class="row">
    <div class="col-md-7"><img [src]="productItem.productUrl" [alt]="productItem.naziv" height='300px' width='400px'></div>
    <div class="col">
        <h4>{{productItem.naziv}}</h4>
        <p class="lead">{{productItem.cena}} RSD</p>
        <p class="lead text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quaerat maiores nesciunt illum optio magni architecto repellendus, ducimus suscipit soluta.</p>
        <hr>
        <div class="col-xs-2">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control col-sm-2 mb-2" id='quantity' (input)='getQuantity($event)'>
            
        </div>
        
            <button class="btn btn-primary" (click)='onAddToCart()' [disabled]='!authService.registeredUser()' >Add to basket</button>
            <button class="btn btn-secondary ml-2" routerLink='/shopping-cart' [disabled]='!authService.registeredUser()'>Proceed to checkout</button>
        
        
        <ng-template [ngIf]='!authService.registeredUser()'>
            <p style='color:red'>Please login to add items to basket.</p>
            <a routerLink='/login'>login</a>
        </ng-template>
        
    </div>
    
</div>
</div>

