<app-navbar></app-navbar>
<div class="container about">
    <h3 class="display-4">OUR STORY AND PHILOSOPHY</h3>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deleniti impedit nam deserunt laborum. Aut explicabo voluptatibus eos odio, quis, non odit, beatae quidem iusto fuga eius magni deserunt tempora recusandae nisi optio neque magnam asperiores dolores iure eum voluptas.</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum deleniti, ipsa laborum maxime unde obcaecati veniam mollitia ea, at libero fugit magni incidunt, molestias enim odit corporis. Laborum expedita quaerat distinctio qui asperiores aspernatur magni ex dolorem quas dolores animi corrupti tenetur saepe accusamus doloremque, recusandae harum. Tempora obcaecati aspernatur illo, aperiam maiores est consequatur, soluta inventore veritatis esse dolorum?</p>
    <img src="./assets/Craftsman.jpg" alt="">

</div>