<div class="row mt-5 mb-4 text-center">
    <div class="col-md-4 d-flex flex-column justify-content-between">
        <p>Fortisi Home Design</p>
        <p>A: Laze Nancica 7, 21000 Novi Sad</p>
        <p>T:021/422-022</p>
        <p>E:office@smartinit.net</p>
        <br>
        <p>MON-FRI: 7am - 10pm</p>
        <p>SATURDAY: 8am - 10pm</p>
        <p>SUNDAY: 8am - 11pm</p>
        <br>
        <p>FAQ /</p>
        <p>Shipping & Returns /</p>
        <p>Store Policy /</p>
        <p>Payment Methods /</p>
    </div>
    <div class="col-md-8">
        <form >
            <div class="form-group">
        <input class='form-control' type="text" placeholder="Name" ngModel name='name'><br>
        <input class='form-control' type="email" placeholder="Email" ngModel name='email'><br>
        <input class='form-control' type="text" placeholder="Subject" ngModel name='subject'><br>
        <textarea cols="30" rows="10" class='form-control' placeholder='Message'></textarea><br>
        <button class="btn btn-primary btn-lg btn-block mb-4">Send</button>
        <p>Get our newsletters</p>
        <div class="input-group">
            <input type="email" class='form-control' placeholder='Enter your email here' [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            
        </div>
    </div>
    </form>   
    <button class="btn btn-dark" (click)='onSubscribe()'>Subscribe now</button>
    </div>
</div>
