<app-navbar></app-navbar>
<div class="row mt-4">
    <div class="col-md-3 text-center">
        <h4>Categories</h4>
        <hr>
        <div class="list-group" *ngFor='let cat of categories' >
            <a routerLink='/shop' [queryParams]="{category:cat.name}">{{cat.name}}</a> 
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" >
        <app-product-list class='col-md-4'  *ngFor='let product of filteredProducts' [product]='product' ></app-product-list>
        
    </div>
    </div>
</div>